/* Please note, these media queries are very basic */

/* Navbar Starts Here */
.navbar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
/* Navbar Ends Here */

/* Showcase Starts Here */
#showcase {
  height: 100%;
}
.showcase .container {
  max-width: 600px;
}

.showcase .showcase-content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.showcase .showcase-content h2 {
  font-size: 40px;
  line-height: 1.2;
}

#showcase .showcase-content p {
  font-size: 1rem;
  padding-bottom: 20px;
  line-height: 1.7;
}
/* Showcase Ends Here */

/* Home Info Starts Here */
#home-info .home-info img {
  display: none;
}

.home-info .history {
  width: 100%;
}
/* Home Info Ends Here */

/* Boxes */
#features {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box {
  width: 100%;
  padding: none;
  align-items: center;
}
/* Boxes End Here */

/* About Page Starts Here */
#about-info {
  width: 100%;
  display: flex;
}

.about-info .info-right img {
  margin: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

@media screen and (max-width: 730px) {
}
